 #blok1 {
     background-color: red;
}
#blok2{
    background-color: blue;
   
}
.footer{
    background-color: grey;
   /* esta posicion para poner en la parte inferior total de la pagina*/
  /* position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;

  }
    




  