
.transition2:hover  { 
    display:none;
    
}

.transition3:hover  {
   width: 300px;
   height: 300px;
   transition: width 2s, height 4s;
   background-color: rosybrown;

}
.transition4:hover  {
  color: blue;
  font-weight: bold; 
 
 }
.transition5:hover{
   width: 300px;
   height: 300px;
   transform: rotate(180deg);
   background-color: aqua;
}